.spinner {
    position: fixed;
    z-index: 1031;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-input-width {
    width: 20%;
}

.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.example-container mat-form-field {
    width: 220px;
}

.example-container form {
    margin-bottom: 20px;
}

.example-container form>* {
    margin: 12px 0;
}

.example-container .mat-radio-button {
    margin: 0 12px;
}

.example-form-fields {
    display: flex;
    align-items: flex-start;
}