<mat-spinner class="spinner" *ngIf="loader"></mat-spinner>
<br>
<div *ngIf="!loader">
    <mat-form-field>
        <mat-label>Currency From</mat-label>
        <mat-select (selectionChange)="convertCurrency($event)">
        <mat-option 
            *ngFor="let currency of availableCurrenciesListFrom | keyvalue" 
            [value]="currency.key">
            {{ currency.value }}
        </mat-option>
        </mat-select>
    </mat-form-field>
    
    <div *ngIf="availableCurrenciesListTo!.length > 0">
        <mat-form-field>
            <mat-label>Currency To</mat-label>
            <mat-select>
            <mat-option 
                *ngFor="let currency of availableCurrenciesListTo | keyvalue" 
                [value]="currency.key">
                {{ currency.value }}
            </mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>Convert Amount</mat-label>
            <input matInput placeholder="Amount" type="number">
        </mat-form-field>
    </div>
    
</div>
