<mat-spinner class="spinner" *ngIf="loader"></mat-spinner>
<br>
<div *ngIf="!loader" class="example-form-fields">
    <mat-form-field>
        <mat-label>Currency From</mat-label>
        <mat-select [(ngModel)]="countryFrom">
            <mat-option 
                *ngFor="let currency of availableCurrenciesList | keyvalue" 
                [value]="currency.key">
                {{ currency.value }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
        <mat-label>Currency To</mat-label>
        <mat-select [(ngModel)]="countryTo">
            <mat-option 
                *ngFor="let currency of availableCurrenciesList | keyvalue" 
                [value]="currency.key">
                {{ currency.value }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="example-input-width">
        <mat-label>Convert Amount</mat-label>
        <input matInput placeholder="Amount" type="number" (keyup)="getConvertedAmount($event)" [(ngModel)]="convertAmout">
    </mat-form-field>
    &nbsp;
    <mat-form-field class="example-input-width">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Amount" type="number" disabled>
    </mat-form-field>
</div>

<div *ngIf="convertedForm">
    <form [formGroup]="convertedForm">
        <div  class="example-form-fields">
            <mat-form-field class="example-input-width">
                <mat-label>Convert Amount</mat-label>
                <input matInput placeholder="From Country" formControlName="from_country" disabled>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="example-input-width">
                <mat-label>Convert Amount</mat-label>
                <input matInput placeholder="From Country" formControlName="to_country" disabled>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="example-input-width">
                <mat-label>Convert Amount</mat-label>
                <input matInput placeholder="From Country" formControlName="from_amount" disabled>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="example-input-width">
                <mat-label>Convert Amount</mat-label>
                <input matInput placeholder="From Country" formControlName="currency_name" disabled>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="example-input-width">
                <mat-label>Convert Amount</mat-label>
                <input matInput placeholder="From Country" formControlName="rate" disabled>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="example-input-width">
                <mat-label>Convert Amount</mat-label>
                <input matInput placeholder="From Country" formControlName="rate_for_amount" disabled>
            </mat-form-field>
            &nbsp;
        </div>

    </form>
</div>
